/* About */
.textAndImg1 {
  text-align: center;
}
.textAndImg2 {
  text-align: center;
}
.aboutTitle {
  margin-top: 1rem;
}
.sejarah {
  text-align: center;
}
.siapaKami {
  text-align: center;
}
.profileImg {
  width: 100px;
}
.profile1 {
  position: absolute;
  right: 0;
  margin-right: 230px !important;
}
.profile2 {
  position: absolute;
  left: 0;
  margin-left: 230px !important;
  margin-top: 25px;
}

#fitur {
  margin-top: 180px;
  background-color: #f9f8f8;
  padding-bottom: 50px;
}
.wrapFitur {
  display: flex;
  align-items: center;
}
.fitur1 {
  margin-right: 20px;
}

/* 768 - 992px gunakan ini */
@media (max-width: 991.98px) {
  #fitur {
    margin-top: 40px;
  }
  .profile1 {
    position: relative;
    margin-right: 0px !important;
  }
  .profile2 {
    position: relative;
    margin-left: 0px !important;
  }
}

/* 550 - 768px gunakan ini */
@media (max-width: 767.98px) {
  .wrapFitur {
    display: unset;
  }
}

/* 0 - 550px gunakan ini */
@media (max-width: 575.98px) {
  html,
  body {
    overflow-x: hidden;
  }
  #about {
    margin-top: -80px;
  }
  .aboutTitle {
    margin-top: 2.5rem;
    font-size: 20px;
  }
  .sejarah {
    text-align: left !important;
  }
  .siapaKami {
    text-align: right !important;
  }
  .textAndImg1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .textAndImg1 p {
    text-align: left;
    font-size: 16px;
  }
  .textAndImg1 img {
    padding: 10px;
    width: 110px;
    height: 110px;
  }
  .textAndImg2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .textAndImg2 img {
    padding: 10px;
    width: 100px;
    height: 100px;
  }
  .textAndImg2 p {
    font-size: 16px;
    text-align: right;
  }
}
